<!DOCTYPE html>
<html lang="en" class="bg-blue-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tasks Manager{% endblock %}</title>
    {% load tailwind_tags %}
    {% tailwind_css %}
    <!-- SEO -->
    <meta name="description" content="{% block desc %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <!-- Favicon -->
    <link rel="shortcut icon" href="">
    <header class=" p-4">
        <div class="">
            <div class="flex flex-row space-x-5 items-center justify-around">
                <div class="flex flex-row text-white space-x-5 items-center justify-center">
                    <h1 class="text-3xl text-transparent font-extrabold text-center cursor-pointer hover:text-blue-500 bg-clip-text h-10 bg-gradient-to-l from-indigo-600 via-blue-600 to-sky-600 drop-shadow-2xl" onclick="document.location.href='/'">Tasks Manager</h1>
                </div>
            </div>
        </div>
    </header>
</head>
<body class="mx-2 ">
    <div class="container mx-auto ">
        {% block content %}
        {% endblock %}
    </div>
    <!-- footer -->
    <footer class=" p-4 mb-auto">
        <div class="">
            <div class="flex flex-row space-x-5 items-center justify-around text-transparent bg-clip-text bg-gradient-to-l from-indigo-700 via-blue-700 to-sky-700 drop-shadow-2xl">
                <div class="flex flex-row space-x-5 items-center justify-center">
                    <span class="">&copy;&nbsp;<a class="font-medium hover:text-blue-600" href="https://github.com/rabilrbl" target="_blank">rabilrbl</a></span>
                    <!-- Add fork on github button -->
                    <a href="https://github.com/rabilrbl/GDC-Tasks/" target="_blank" class="text-sm hover:text-blue-600">
                       Contribute on GitHub
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>