{% extends "base.html" %}
{% block content %}
<!-- Uncompleted tasks list -->
<div class="flex flex-col items-center justify-center">
    <!-- List all tasks -->
    <div class="w-full max-w-lg mx-auto">
        <!-- Add task from -->
        {% if request.GET.search_active_bar %}
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col sm:flex-row sm:justify-around sm:space-x-5 space-y-5 sm:space-y-0">
            <!-- Search form -->
            <div class="search-task">
                <div class="mb-4">
                    <h2 class="text-xl font-bold text-center">Search task</h2>
                    <p class="text-center">
                        Search for a task title.
                    </p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <form action="" method="get">
                        <div class="flex flex-row items-center justify-center">
                            <div class="flex flex-col items-center justify-center">
                                <input type="text" name="search" required placeholder="Search Task" class="bg-gray-200 border border-gray-200 rounded px-4 py-1 focus:ring-blue-500">
                            </div>
                            <div class="flex flex-col items-center justify-center">
                                <input type="submit" value="🔍" class="bg-blue-500 text-xs hover:bg-blue-700 cursor-pointer text-white font-bold py-2 px-4 rounded">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <!-- Add a clear search button if search is active -->
            {% if request.GET.search %}
            <div class="flex flex-col justify-center mb-4 mt-2 sm:flex-row">
                <h2 class="text-2xl font-bold text-center">Tasks containing "{{ request.GET.search }}"</h2>
                
                <a href="/tasks/"
                    class="bg-blue-500 sm:ml-2 text-center mt-1 hover:bg-blue-700 text-white font-thin text-xs py-2 px-4 rounded">
                    Clear search
                </a>
            </div>
            {% else %}
                <div class="mb-2">
                    <h2 class="text-2xl font-bold text-center">Hi Rabil</h2>
                    <p class="text-center">
                        Pending Tasks.
                    </p>
                </div>
                <ul class="flex justify-around m-2 font-medium my-6 overflow-x-auto">
                    <li {% if request.resolver_match.url_name == "all-tasks" %}class="bg-blue-200 text-blue-600 py-1 px-4 rounded-full"{% endif %}><a href="{% url 'all-tasks' %}">All</a></li>
                    <li {% if request.resolver_match.url_name == "tasks" %}class="bg-blue-200 text-blue-600 py-1 px-4 rounded-full"{% endif %}><a href="{% url 'tasks' %}">Pending</a></li>
                    <li {% if request.resolver_match.url_name == "completed-tasks" %}class="bg-blue-200 text-blue-600 py-1 px-4 rounded-full"{% endif %}><a href="{% url 'completed-tasks' %}">Completed</a></li>
                </ul>
            <!-- PLus button svg -->
            <div class="flex justify-center">
            </div>
            {% endif %}
            <!-- <div class="flex flex-col items-center justify-center">
                <a href=""
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Create a new task
                </a>
            </div> -->
            <!-- List uncompleted tasks -->
            <div>
                <div class="sm:space-y-2">
                    {% block taskent %}
                    {% endblock %}
                    <!-- Page selector -->
                    <div class="flex flex-row justify-center my-4">
                    {% for page in paginator.page_range %}
                        &nbsp;&nbsp;
                        <a href="?page={{page}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}{% if request.GET.search_active_bar %}&search_active_bar={{request.GET.search_active_bar}}{% endif %}"
                            class="bg-blue-500 text-xs hover:bg-blue-700 text-white py-1 px-2 rounded-full max-h-7">
                            {{page}}
                        </a>
                        {% endfor %}
                    </div>
                    <div class="flex justify-center"><button type="button" class="bg-blue-500 text-xs mt-2 hover:bg-blue-700 cursor-pointer text-white font-bold py-2 px-10 rounded-full" onclick="document.location.href='/create-task/'">Add</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}